@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&display=swap');

* {
  padding: 0; 
  margin: 0;
  font-family: "Geologica", sans-serif;
}

html,body{
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

content {
  flex: 1 1 auto;
  font-size: 20px;
  padding: 60px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.comment-post {
  display: flex;
  align-items: flex-start;
  width: 95%;
  margin-bottom: 20px;
  border: 2px solid #1a64b7;
  background-color: rgba(26, 100, 183, 0.85);
  color: #fff;
  padding: 12px;
  position: relative;
  z-index: 0; 
  animation: anim-comment 3s;
}

#avatar1 {animation-timing-function: ease;}
#avatar2 {animation-timing-function: ease-out;}
#avatar3 {animation-timing-function: ease-in-out;}
#avatar4 {animation-timing-function: ease-in;}
#avatar5 {animation-timing-function: linear;}

@keyframes anim-comment {
  from  {background-color:rgba(26, 100, 183, 0.1); left:-200px; top:0px;}
  to  {left:0px; top:0px;}
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: auto;
}

.comment-content {
  margin-left: 10px;
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fbbf16;
}

.comment-box{
  width: 35%;
}

.comment {
  margin-bottom: 10px;
}

.comment-box textarea {
  padding: 4px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #1a64b7;
}

.comment-box textarea {
    height: 150px;
    width: calc(100% - 42px);
}

.comment-box textarea:focus{
    border: 1px solid #000;
    outline: 0;
}

::placeholder {
  font-size: 20px;
}

.comment-box button {
    border: 0;
    padding: 10px 30px;
    background: #1a64b7;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 0 auto;
}

.comment-box button:hover {
    background-color: #5f93cd;
}

@media (max-width: 1024px){
  content{
    padding: 40px;
    background-image: url("../images/fans.jpg");
  }

  .comment-box textarea {
    height: 125px;
  }

  ::placeholder {
    font-size: 16px;
  }
  
  content, .comment-box button {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  content{
    padding: 35px;
  }

  .comment-box textarea {
    height: 100px;
  }

  ::placeholder {
    font-size: 14px;
  }
  
  content, .comment-box button {
    font-size: 14px;
  }

  #avatar5{
    display: none;
  }
}

@media (max-width: 480px) {
  content{
    padding: 20px;
  }

  .comment-box textarea {
    height: 80px;
  }

  ::placeholder {
    font-size: 12px;
  }
  
  content, .comment-box button {
    font-size: 12px;
  }

  #avatar4{
    display: none;
  }
}

@media (max-width: 320px) {
  content{
    padding: 10px;
  }

  .comment-box textarea {
    height: 60px;
  }

  ::placeholder {
    font-size: 10px;
  }

  content, .comment-box button {
    font-size: 10px;
  }
}
